{% extends "::admin.html.twig" %}
{% block header %}
    Tableau de bord
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div>
                    {{ render(controller('AdminBundle:Graphe:chartLine')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div>
                    {{ render(controller('AdminBundle:Graphe:chartHistogramme')) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div>
                    {{ render(controller('AdminBundle:Graphe:chartPie')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}