<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-warning"></i>
    <span id="note-count" class="label label-warning">{{ countNotes }}</span>
</a>
<ul class="dropdown-menu">
    <li class="header" id="header">Vous avez {{ countNotes }} notification(s).</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
            {% for note in notes %}
                <li>
                    <a href="{{ path('note_redirect', {'id': note.idEntite, 'relatedTo': note.entite, 'id_note': note.id}) }}"{% if not(note.traite) %} class="bg-dark-gray"{% endif %}>
                        {% if note.entite == 'guide' or note.entite == 'contribution' %}
                            <i class="fa fa-archive warning pull-left"></i>
                        {% elseif note.entite == 'experience' %}
                            <i class="fa fa-exclamation-triangle info pull-left"></i>
                        {% elseif note.entite == 'lieu' %}
                            <i class="fa fa-exclamation-circle info pull-left"></i>
                        {% endif %}
                        <p>{{ note.description|length > 100 ? note.description|slice(0, 100) ~ '...' : note.description }}</p>
                    </a>
                </li>
            {% else %}
                <li>
                    <a>
                        <p class="text-center">Aucune notification</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {#<li class="footer"><a href="#">View all</a></li>#}
</ul>
