<div class="subscribe-form">
    <form action="{{ path('newsletter') }}" method="post">
        <input type="text" name="email" value="" placeholder="Your email" class="subscribe-input">
        <button type="submit" class="awe-btn awe-btn-5 arrow-right text-uppercase awe-btn-lager">
            subcrible
        </button>
    </form>
</div>
